{{- $tag := printf "h%d" .Level -}}
{{- $class := "headline" -}}
{{- with .Attributes.class -}}
  {{- $class = printf "%s %s" $class . -}}
{{- end -}}
{{- $videoSrc := partialCached "headline-video-src.html" (dict "Site" .Page.Site) "headline-video" -}}
{{- $attrs := "" -}}
{{- with .Anchor -}}
  {{- $attrs = printf "%s id=\"%s\"" $attrs . -}}
{{- end -}}
{{- $attrs = printf "%s class=\"%s\"" $attrs $class -}}
{{- range $k, $v := .Attributes -}}
  {{- if and (ne $k "class") (ne $k "id") -}}
    {{- $attrs = printf "%s %s=\"%s\"" $attrs $k $v -}}
  {{- end -}}
{{- end -}}
{{- $content := printf "<span>%s</span><video class=\"headline-film\" src=\"%s\" autoplay loop muted playsinline preload=\"auto\" aria-hidden=\"true\"></video>" (.Text | safeHTML) $videoSrc -}}
{{- printf "<%s%s>%s</%s>" $tag $attrs $content $tag | safeHTML -}}
