<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} · {{ end }}{{ .Site.Title }}{{ end }}</title>
  {{ $styles := resources.Get "css/main.css" | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  {{ block "head" . }}{{ end }}
</head>
<body class="{{ if .IsHome }}home{{ end }}">
  <div class="site-frame">
    <main class="site-content">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
